annotated-types==0.7.0 ; python_full_version >= "3.10.12" and python_version < "3.12"
boto3==1.34.144 ; python_full_version >= "3.10.12" and python_version < "3.12"
botocore==1.34.144 ; python_full_version >= "3.10.12" and python_version < "3.12"
colorama==0.4.6 ; python_full_version >= "3.10.12" and python_version < "3.12" and sys_platform == "win32"
jmespath==1.0.1 ; python_full_version >= "3.10.12" and python_version < "3.12"
loguru==0.7.2 ; python_full_version >= "3.10.12" and python_version < "3.12"
pydantic-core==2.20.1 ; python_full_version >= "3.10.12" and python_version < "3.12"
pydantic==2.8.2 ; python_full_version >= "3.10.12" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.10.12" and python_version < "3.12"
s3transfer==0.10.2 ; python_full_version >= "3.10.12" and python_version < "3.12"
six==1.16.0 ; python_full_version >= "3.10.12" and python_version < "3.12"
typing-extensions==4.12.2 ; python_full_version >= "3.10.12" and python_version < "3.12"
urllib3==2.2.2 ; python_full_version >= "3.10.12" and python_version < "3.12"
win32-setctime==1.1.0 ; python_full_version >= "3.10.12" and python_version < "3.12" and sys_platform == "win32"
